<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Launcher.Properties.PresetSettings>
            <setting name="LastActivePreset" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.Properties.PresetSettings>
        <Launcher.Properties.Settings>
            <setting name="Mod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoSplash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipIntro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckSignatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUCountValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRAMValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxVRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxVRAMValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameValue" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBattleEye" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvanceParams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Malloc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MallocValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ExThreads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExThreadsValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoFilePatching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="World" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProfilesValue" serializeAs="String">
                <value />
            </setting>
            <setting name="NoCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Init" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitValue" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNothing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoLand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowScriptErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autotest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Beta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetaValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Connect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerPortValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PidValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Ranking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RankingValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Cfg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CfgValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Config" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigValue" serializeAs="String">
                <value />
            </setting>
            <setting name="BEPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BEPathValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerIPValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Par" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSteamLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Buldozer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastRun" serializeAs="String">
                <value>10/08/2016 18:50:44</value>
            </setting>
            <setting name="Cmd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CmdValue" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableHT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutotestValue" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableHardwareAcceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBeEULA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddLocalModLastUsedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSteamClientInsteadOfBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamWorkshopModsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LauncherShutdownMode" serializeAs="String">
                <value>CloseBefore</value>
            </setting>
            <setting name="MissionFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MissionFileValue" serializeAs="String">
                <value />
            </setting>
            <setting name="Client" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadMissionToMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPage" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultPageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableFilePatching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOldFolderSelectionDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerModValue" serializeAs="String">
                <value />
            </setting>
            <setting name="PreselectedUnit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreselectedUnitValue" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowPlacement2" serializeAs="Xml">
                <value>
                    <WindowPlacementData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <MinimizedPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </MinimizedPosition>
                        <MaximizedPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </MaximizedPosition>
                        <NormalRectangle>
                            <Location>
                                <X>437</X>
                                <Y>179</Y>
                            </Location>
                            <Size>
                                <Width>891</Width>
                                <Height>690</Height>
                            </Size>
                            <X>437</X>
                            <Y>179</Y>
                            <Width>891</Width>
                            <Height>690</Height>
                        </NormalRectangle>
                        <IsMaximized>true</IsMaximized>
                    </WindowPlacementData>
                </value>
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
</configuration>