<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <BrotherDiagnosisService.Properties.Settings>
            <setting name="LatestUploadDate" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;UploadDateInformtion xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;List&gt;
    &lt;PrinterName&gt;Brother HL-2130 series Printer&lt;/PrinterName&gt;
    &lt;LatestTryUploadDate&gt;2018-02-08T17:46:22.5461467+01:00&lt;/LatestTryUploadDate&gt;
    &lt;NextUploadDate&gt;2018-03-08T17:46:22.5461467+01:00&lt;/NextUploadDate&gt;
    &lt;SupportedState&gt;Supported&lt;/SupportedState&gt;
  &lt;/List&gt;
  &lt;List&gt;
    &lt;PrinterName&gt;Brother HL-2130 series&lt;/PrinterName&gt;
    &lt;LatestTryUploadDate&gt;2018-02-08T17:46:31.2860111+01:00&lt;/LatestTryUploadDate&gt;
    &lt;NextUploadDate&gt;2018-03-08T17:46:31.2860111+01:00&lt;/NextUploadDate&gt;
    &lt;SupportedState&gt;Supported&lt;/SupportedState&gt;
  &lt;/List&gt;
&lt;/UploadDateInformtion&gt;</value>
            </setting>
            <setting name="ApplicationSettings" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ApplicationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;IsAutomaticStartUp&gt;true&lt;/IsAutomaticStartUp&gt;
  &lt;WebProxySettings&gt;
    &lt;Type&gt;Default&lt;/Type&gt;
  &lt;/WebProxySettings&gt;
&lt;/ApplicationSettings&gt;</value>
            </setting>
        </BrotherDiagnosisService.Properties.Settings>
    </userSettings>
</configuration>