<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Launcher.Properties.PresetSettings>
            <setting name="LastActivePreset" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.Properties.PresetSettings>
        <Launcher.Properties.Settings>
            <setting name="UseBattleEye" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpgradeNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastRun" serializeAs="String">
                <value>06/07/2015 21:25:29</value>
            </setting>
            <setting name="Cmd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CmdValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowBeEULA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LauncherShutdownMode" serializeAs="String">
                <value>DoNothing</value>
            </setting>
            <setting name="MainWindowPlacement2" serializeAs="Xml">
                <value>
                    <WindowPlacementData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <MinimizedPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </MinimizedPosition>
                        <MaximizedPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </MaximizedPosition>
                        <NormalRectangle>
                            <Location>
                                <X>437</X>
                                <Y>179</Y>
                            </Location>
                            <Size>
                                <Width>891</Width>
                                <Height>690</Height>
                            </Size>
                            <X>437</X>
                            <Y>179</Y>
                            <Width>891</Width>
                            <Height>690</Height>
                        </NormalRectangle>
                        <IsMaximized>false</IsMaximized>
                    </WindowPlacementData>
                </value>
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
</configuration>