<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <CDWLauncher.Properties.Settings>
            <setting name="Prefer32bit" serializeAs="String">
                <value>False</value>
            </setting>
        </CDWLauncher.Properties.Settings>
    </userSettings>
</configuration>