<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1467916635-NotNow</key>
	<string>1484497033177</string>
	<key>ITSLogger.visitorIds</key>
	<string>{"1467916635":"[LS]|v6|1|1432486851057Lw5MPxkXI5|[LE]"}</string>
	<key>SF6.Page.MediaType</key>
	<string>8</string>
	<key>its.sf.Metrics.Events.Page.pageHistory</key>
	<string>["Genre_651","Genre_29683","Genre_171922","Genre_171922","Search_b3c48c8c-9c6b-4c03-b204-542db5fc0e11"]</string>
</dict>
</plist>
